<a id="exportmaila" target="_blank" class="exportlink">
<div class="exporttype" id="exportmail">Mail</div>
</a>
<style>
#exportmaila:before {
  content: "\E80A";
}
#exportmail{
  margin-left:-4px;
}
</style>
